.box{
    width: 185px;
    height: 100px;
    display: inline-flex;
    padding: 10px;
    margin-left: 5px;
    border: 2px solid black;
    box-shadow: 1px;    
    font-size: 20px;
    border-radius: 15px 15px 15px 15px;
    word-break: break-all;
    word-wrap: break-word;
}

.square{
    width: 10px;
    height: 10px;
    background-color: black;
}

p{
    font-size: 20px;
    padding: 10px;
}